<div class="fileUpload w-50 d-block mx-auto">
	<div class="fileArea">
		<input type="file" name="" (change)="getFileName($event)">
		<p>Upload your file here!!</p>
	</div>
	<img src="../../assets/loading.gif" *ngIf="showLoader">
	<div class="row file-div" *ngIf="inputHasValue">
		<div class="col-lg-4 text-white">
			{{fileName}}
		</div>
		<div class="col-lg-4 text-white">
			<p>{{fileSize}}</p>
		</div>
		<div class="col-lg-4 text-white">
			<button (click)="getFileResult()">Submit</button>
		</div>
	</div>

</div>
