<div class="row w-100 h-100 m-0">
  <div class="col-lg-2 p-0">
    <div class="tabsComponent w-100 h-100">
      <ul>
        <li><a routerLink="/indianhindi" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Indian Hindi</a></li>
        <li><a routerLink="/indianenglish" routerLinkActive="active">Indian english</a></li>
        <li><a routerLink="/preUpload" routerLinkActive="active">Pre uploaded file</a></li>
        <!-- <li [routerLinkActive]="['active']" (click)="changeactiveRoute('hindi')">Indian Hindi</li>
        <li [routerLinkActive]="['active']" (click)="changeactiveRoute('english')">Indian English</li>
        <li [routerLinkActive]="['active']" (click)="routing('preUpload')">Pre-Uploaded File</li> -->
      </ul>
    </div>
  </div>
  <div class="col-lg-10">
    <router-outlet></router-outlet>
  </div>
</div>
