.preload{
	    display: block;
    margin: 3em auto 0 auto;
    width: 80%;

}
h4{
    text-transform: capitalize;
}

.audioFile{
    box-shadow: 3px 3px 5px grey;
    margin-bottom: 2em;
    border-radius: 5px;
}
.leftmsg{
    background: #fe6655;
    width: 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    padding-bottom: 1px;
    color: #fff;
    margin-top:1em; 
}
.rightmsg{
    position: relative;
    left: 60%;
    background: #fe6655;
    width: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    padding-bottom: 1px;
    color: #fff;
    margin-bottom: 1em;
}