
<div class="row">
  <div class="col-lg-6 box">
    <h3 class="mt-5">Audio Files:</h3>
      <div class="row ml-2 audioFile" *ngFor="let audio of audioFiles">
    <div class="col-lg-12 mt-3">
      <h4>{{audio.title}}</h4>
      <audio [src]="audio.path" class="preload" controls></audio>
      <button type="button" class="btn btn-danger mt-5 mb-3" data-dismiss="modal" (click) = "uploadFile(audio)">Submit</button>
    </div>
  </div>
  </div>
  <div class="col-lg-6">
    <h3 class="mt-5">Conversation {{title}}:</h3>
    <img src="../../assets/loading.gif" *ngIf="showLoader" [ngClass]="showLoader ? 'loading': ''">

<div class="row dwnld" *ngIf="showDownload">
  <div class="col-lg-4">
    <a class="download" (click)="dynamicDownloadTxt()" >download Chat</a>
  </div>
</div>
  <div class="row w-75 d-block m-auto" *ngIf="showData">
  <div class="col-lg-12">
    <div *ngFor="let data of res; let i=index;" [ngClass]="resObject[i]=='P1' ? 'leftmsg' : 'rightmsg'"><p>{{this.response[data]}}</p></div>
  </div>
</div>
  </div>
</div>
<!-- <div class="modal-header">
    <h4 class="modal-title">Listem to Audio:</h4>
  </div>
  <div class="modal-body">
    <audio #audio src="../assets/mono_full_eng.wav" class="preload" controls></audio>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "uploadFile()">Submit</button>
  </div>
 -->


